
<div class="row">
  <div class="span12">

    <h1>Apps</h1>
    
    <form>
      <a class="btn btn-primary" href="/admin/apps/new">
        <i class="icon-plus icon-white"></i> Add App
      </a>
    </form>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>ID</th>
          <th>Tools</th>
        </tr>
      </thead>
      <tbody>
        <% @apps.each do |app| %>
          <tr>
            <td><%=h app.name %></td>
            <td><%=h app.client_id %></td>
            <td>
              <a href="/admin/apps/<%= app.id %>/edit" class="btn">
                <i class="icon-pencil"></i>
              </a>

              <a href="/admin/apps/<%= app.id %>" data-method="delete" data-confirm="Delete app?" class="btn btn-danger">
                <i class="icon-trash"></i>
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @apps %>


  </div>

</div>
