<% if current_user.admin? %>
  <% url = @user.new_record? ? '/admin/users' : "/admin/users/#{@user.id}" %>
  <% method = @user.new_record? ? 'post' : 'put' %>
<% else %>
  <% url = "/profile" %>
  <% method = "put" %>
<% end %>

<h1><%= title %></h1>
<form action="<%=h url %>" method="POST" class="form">
  <input type="hidden" name="_method" value="<%= method %>"/>

  <%= form_field 'user', 'name', 'Name', @user.name %>

  <%= form_field 'user', 'email', 'eMail', @user.email, type: 'email' %>

  <%= form_field 'user', 'password', 'Password', '', type: 'password' %>

  <%= form_field 'user', 'password_confirmation', 'Password Confirmation', '', type: 'password' %>

  <% if current_user.admin? && current_user != @user %>
    <%= form_field 'user', 'admin', 'Admin', @user.admin, type: 'checkbox' %>
  <% end %>

  <button class="btn"><%= button_label %></button>
</form>

<% if current_user.admin? && !@user.new_record? %>
  <hr/>
  <form action="/admin/users/<%=h @user.id %>/refresh_firebase_token" method="POST">
    <div class="control-group">
      <label class="control-label">Firebase Token</label>
      <div class="controls">
        Expires at: <%= @user.firebase_token_expires_at ? Time.at(@user.firebase_token_expires_at) : 'No expiration set' %>
        <pre><%=h @user.firebase_token %></pre>
      </div>
    </div>
    <%= form_field 'firebase', 'secret', 'Overwrite Firebase Secret', '', type: 'password' %>

    <button class="btn">Refresh token</button>
  </form>
<% end %>
