
<div class="row">
  <div class="span12">
    <h1>Users</h1>
  </div>
  <div class="span6">
    <a class="btn btn-primary" href="/admin/users/new">
      <i class="icon-plus icon-white"></i> Add User
    </a>
  </div>
  <div class="span6">
    <div class="search pull-right">
      <form class="form form-inline" method="get" action="/admin/users/search">
        <input type="text" class="input span3" name="q" value="<%=h @query %>">
        <button type="submit" class="btn">Search Users</button>
      </form>
    </div>
  </div>
  <div class="span12">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>eMail</th>
          <th>UUID</th>
          <th>Role</th>
          <th>Tools</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%=h user.name %></td>
            <td><%=h user.email %></td>
            <td><%=h user.uuid %></td>
            <td><%= user.admin ? 'Admin' : 'User' %></td>
            <td>
              <a href="/admin/users/<%= user.id %>/venue-identities" class="btn">
                <i class="icon-tag"></i>
              </a>

              <a href="/admin/users/<%= user.id %>/edit" class="btn">
                <i class="icon-pencil"></i>
              </a>

              <a href="/admin/users/<%= user.id %>/impersonate" data-method="post" class="btn">
                <i class="icon-user"></i>
              </a>

              <a href="/admin/users/<%= user.id %>" data-method="delete" data-confirm="Delete user?" class="btn btn-danger">
                <i class="icon-trash"></i>
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @users %>

  </div>
</div>
